body {
    background-image: url(../images/dark-grey-terrazzo.png);
}

#heading {
    text-align: center;
    color: gold;
}

#instructions {
    color: gold;
}

#computerGuess, #userGuess, #results, #message {
    background-color: grey;
    color: gold;
    text-align: center;
    font-size: 4.688em;
    border-radius: 25px;
}

#results, #message {
    background-color: grey;
}

#gems {
    padding-left: 13%;
}

img {
    margin: 15px 15px;
    height: 200px;
    width: 200px;
}

#results, #message{
  height: 113px;
  padding: 6% 6%;
};

